<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.entry h2 {
    color: forestgreen;
    text-align: center;
}
.entry h2:hover {
    transition: margin 2s;
    margin-left: -500px;
}
.entry {
    width: 70%;
    margin: 0px auto;
}
.entry > p {
    padding: 50px;
    border: 2px dotted mediumaquamarine;
    border-radius: 20px;
}
</style>
    </head>
    <body>
        <div class="entry">
            <h2> {{ title }} </h2>
            <p> {{ content }} </p>
        </div>
    </body>
</html>
